<!DOCTYPE html>
<html>
<head>
  <title> <%= yield(:title) %> <%= "|" unless yield(:title).blank?  %> Rails Skeleton </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <strong>Logged in as: <%= current_user.name %></strong>
    <p><%= link_to "Profile", current_user %></p>
    <p><%= link_to "Log out", logout_path, method: "delete" %></p>
  <% else %>
    <%= link_to "Log in", login_path %>
  <% end %>
  <h1>Rails basic user registration and login skeleton</h1>
  <%= yield %>
</body>
</html>
